@import '@styles/colors.scss';
@import '@styles/typography.scss';
.card {
    box-sizing: border-box;
    margin: 30px;
    &__image {
        min-width: 156px;
        min-height: 130px;
        width: 394px;
        height: 360px;
        margin-bottom: 26px;
    }
    &__paragraph {
        color: $font-color-grey;
    }
    &__paragraph:nth-of-type(1){
        @include typo-parapgraph-bold;
        margin-bottom: 14px;
        color: $font-color-grey;
        margin: 26px 0 14px;
    }
    &__paragraph:nth-of-type(2) {
        @include typo-parapgraph-normal;
        margin-bottom: 18px;
        margin-top: 6px;
        color: $font-color-grey;
    }
    &__paragraph:last-child{
        @include typo-title-small;
        color: $font-color-black;
        padding-bottom: 30px;
    }
    &__title {
        text-decoration: none;
        @include typo-title-small;
        color: $font-color-black;
        margin-top: 14px;
        margin-bottom: 6px;
    }
}

@media (max-width: 1885px) {
    .card {
        box-sizing: border-box;
        width: 280px;
        &__image {
            box-sizing: border-box;
            width: 280px;
            height: 254.5px;
            margin: 15px;
        }
    }
}

@media (max-width: 1240px) {
    .card {
        box-sizing: border-box;
        width: 280px;
        font-size: 12px;
        &__image {
            box-sizing: border-box;
            width: 280px;
            height: 254.5px;
        }
        &__paragraph:last-child {
            font-size: 14px;
        }
        &__title {
            font-size: 14px;
        }
    }
}

@media (max-width: 680px) {
    .card {
        box-sizing: border-box;
        width: 195px;
        margin: 15px;
        &__image {
            box-sizing: border-box;
            width: 195px;
            height: 177px;
            margin: 15px;
        }
    }
}

@media (max-width: 500px) {
    .card {
        box-sizing: border-box;
        width: 156px;
        &__image {
            box-sizing: border-box;
            width: 156px;
            height: 130px;
            margin: 10px 15px;
        }
    }
}