@import '@styles/colors.scss';
@import '@styles/typography.scss';
.product_page{
    background-color: $bg-color-white;
    box-sizing: border-box;
}
.product {
    display: flex;
    margin: 100px 100px 50px;
    background-color: $bg-color-white;
    & img {
        width: 600px;
        height: 600px;
        margin-right: 50px;
    }
}
.product__related_title{
    background-color: $bg-color-white;
    margin-left: 100px;
    font-style: normal;
    @include typo-title-medium;
    font-size: 32px;
    color: $font-color-black;
}
.product__related_items {
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: $bg-color-white;
}

.product__info_title {
    font-style: normal;
    @include typo-title-medium;
    color: $font-color-black;
    margin-bottom: 0;
}

.product__info_subtitle{
    font-style: normal;
    @include typo-parapgraph-normal;
    color: $font-color-grey;
    margin-top: 0;
    margin-bottom: 30px;
}

.product__info_color {
    font-style: normal;
    @include typo-parapgraph-bold;
    color: $font-color-black;
    margin-bottom: 20px;
}

.product__info_description {
    color: $font-color-grey;
    margin-bottom: 30px;
}

.product__info_colors{
    display: flex;
    margin-bottom: 20px;
    & div {
        display: inline-block;
        width: 50px;
        aspect-ratio: 1/1;
    }
    & div:first-child{
        background: $font-color-black;
    }

    & div:nth-of-type(2) {
        background: #314443;
    }
    & div:nth-of-type(3) {
        background: #C5A26E;
    }
    & div:last-child {
        background: #D8DBE0;
    }
}

.product__info_price {
    font-style: normal;
    @include typo-title-medium;
    color: $font-color-black;
    margin-bottom: 50px;
}

.product__info_buttons{
    display: flex;
    & button {
        width: 285px;
        height: 58px;
    }
    & button:first-child {
        margin-right: 20px;
    }
}

@media (max-width: 1600px) {
    .product {
        display: flex;
        margin: 50px 24px 30px;
        background-color: $bg-color-white;
        
        box-sizing: border-box;
        & img {
            width: 500px;
            height: 500px;
            margin-right: 50px;
        }
    }

    .product__related_items {
        margin: 0;
        justify-content: space-between;
    }
}

@media (max-width: 1240px) {
    .product {
        display: flex;
        flex-direction: column;       
        box-sizing: border-box;
        align-items: center;
        & img {
            width: 400px;
            height: 400px;
        }
    }

    .product__related_items {
        margin: 0;
        justify-content: space-between;
    }

}

@media (max-width: 800px) {
    .product {
        & img {
            width: 327px;
            height: 327px;
            margin: 0 24px;
        }
    }
    .product__info_buttons {
        flex-direction: column;
        & button {
            width: 327px;
            height: 53px;
            margin: 0 auto 100px;
        }
        & button:first-child {
            margin: 0 auto 15px;
        }
    }
    .product__related_title {
        margin-bottom: 23px;
    }
    .product__info_title {
        font-size: 24px;
    }
    .product__info_subtitle {
        font-size: 14px;
    }
    .product__info_color {
        font-size: 14px;
    }
    .product__info_colors {
        & div {
            width: 30px;
        }
    }
    .product__info_description {
        font-size: 14px;
        margin-bottom: 16px;
    }
    .product__info_price {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .product__related_title {
        margin-left: 24px;
    }
}